<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <a href="/">
                <img id="homelogo" src="/static/images/instagramlogo.png" alt="LOGO">
            </a>

            <h1>INSTA485</h1>

            <div>
                <a href="/explore/">
                  explore
                </a>
                |
                <a href="/users/{{ session['current_user'] }}/">
                  {{ session['logged_user'] }}
                </a>
            </div>
        </header>

        <br /><br />

        <div>
            <br />

            <form action="{{ url_for('change_password') }}" method="post" enctype="multipart/form-data">
                Current Password: <input type="password" name="password" required/> <br />
                New Password: <input type="password" name="new_password1" required/> <br />
                Confirm Password: <input type="password" name="new_password2" required/> <br />
                <input type="submit" name="update_password" value="submit"/>
                <input type="hidden" name="operation" value="update_password"/>
            </form>
            <br />
            <a href="/accounts/edit/"><b>Back to edit account</b></a>
        </div>

    </body>
</html>