<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" href="../../../css/style.css">
    </head>
    <body>
        <header>
            <a href="/">
                <img id="homelogo" src="/images/instagramlogo.png" alt="LOGO">
            </a>

            <h1>INSTA485</h1>

            <div>
                <a href="/explore/">
                    explore
                </a>
                |
                <a href="/users/{{ logname }}/">
                    {{ logname }}
                </a>
            </div>
        </header>

        <br /><br />

        <div>
            <h1>Followers</h1>
            {% for f in followers %}
                <div class="followerslist">
                    <img class="profilepostpic" src="{{ f.user_img_url }}" alt="followers" />
                    <a href="/users/{{ f.username }}/"><h3>{{ f.username }}</h3></a>
                    {% if f.username==logname %}
                        <br>
                    {% elif f.username not in i_follow %}
                        not following <br>
                    {% else %}
                        following <br>
                    {% endif %}
                </div>
                <div class="followbutton">
                    {% if f.username == logname %}
                    
                    {% elif f.username not in i_follow %}
                        <form action="{{ url_for('show_followers', username=username) }}" method="post" enctype="multipart/form-data">
                          <input type="submit" name="follow" value="follow"/>
                          <input type="hidden" name="username" value="{{ f.username }}"/>
                          <input type="hidden" name="operation" value="follow"/>
                        </form>
                    {% else %}
                        <form action="{{ url_for('show_followers', username=username) }}" method="post" enctype="multipart/form-data">
                          <input type="submit" name="unfollow" value="unfollow"/>
                          <input type="hidden" name="username" value="{{ f.username }}"/>
                          <input type="hidden" name="operation" value="unfollow"/>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    </body>
</html>
