<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <a href="/">
                <!-- fixme
                <img id="homelogo" src="/static/images/instagramlogo.png" alt="LOGO">
                -->
                
                <img id="homelogo" src="/static/images/instagramlogo.png" alt="LOGO">
                
            </a>

            <h1>INSTA485</h1>

            <div>
                <a href="/explore/">
                  explore
                </a>
                |
                <a href="/users/{{ session['logged_user'] }}/">
                  {{ session['logged_user'] }}
                </a>

                <form action="{{ url_for('logout') }}" method="post" enctype="multipart/form-data">
                  <input type="submit" value="logout"/>
                </form>
            </div>
        </header>

        <br /><br />

        <div>
            <div>

                <div class="post">
                    <div class="posthead">
                        <a href="/users/{{ owner }}/">
                            <img src="/uploads/{{ owner_img_url }}" alt="deorio pic">
                        </a>

                        <a class="postaccount" href="/users/{{ owner }}/">
                            {{ owner }}
                        </a>

                        <a class="posttime" href="/posts/{{ postid }}/">
                            {{ created }}
                        </a>
                    </div>

                    <div class="postimage">
                        <img src="/uploads/{{ filename }}" alt="post">
                    </div>
                    
                    <p class="likes">
                        {{ likes }}
                        {% if likes == 1 %}
                            like
                        {% else %}
                            likes
                        {% endif %}
                    </p>

                    <div class="likebutton">
                        {% if like %}
                            <form action="{{ url_for('like', target=postid) }}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="operation" value="unlike"/>
                                <input type="hidden" name="postid" value="{{ postid }}"/>
                                <input type="submit" name="unlike" value="unlike"/>
                            </form>
                        {% else %}
                            <form action="{{ url_for('like', target=postid) }}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="operation" value="like"/>
                                <input type="hidden" name="postid" value="{{ postid }}"/>
                                <input type="submit" name="like" value="like"/>
                            </form>
                        {% endif %}
                    </div>

                    {% for c in comments %}
                        <p class="comment"><a href="/users/{{ owner }}/"><b>{{ c.owner }}</b></a> {{ c.text }}</p>

                        {% if session['logged_user'] == owner or session['logged_user'] == c.owner %}
                            <form action="{{ url_for('post', postid=postid, target='comment_del') }}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="operation" value="delete"/>
                                <input type="hidden" name="commentid" value="{{ c.commentid }}"/>
                                <input type="submit" name="uncomment" value="delete"/>
                            </form>
                        {% endif %}

                    {% endfor %}

                    <div class="commentbox">
                        <form action="{{ url_for('comment', target=postid) }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="operation" value="create"/>
                            <input type="hidden" name="postid" value="{{ postid }}"/>
                            <input type="text" name="text" required/>
                            <input type="submit" name="comment" value="comment"/>
                            </form>
                    </div>

                    {% if session['logged_user'] == owner %}
                        <form action="{{ url_for('post', postid=postid) }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="operation" value="delete"/>
                            <input type="hidden" name="postid" value="{{ postid }}"/>
                            <input type="submit" name="delete" value="delete this post"/>
                        </form>
                    {% endif %}

                </div>

                <br /><br />

            </div>
        </div>

    </body>
</html>
