<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <a href="/">
                <img id="homelogo" src="/static/images/instagramlogo.png" alt="LOGO">
            </a>

            <h1>INSTA485</h1>

            <div>
                <a href="/accounts/login/">
                    Login
                </a>
            </div>
        </header>

        <br /><br />

        <div>
            <form action="{{ url_for('signup') }}" method="post" enctype="multipart/form-data">
                Photo: <input type="file" name="file" required/> <br />
                Full Name: <input type="text" name="fullname" required/> <br />
                Username: <input type="text" name="username" required/> <br />
                Email: <input type="text" name="email" required/> <br />
                Password: <input type="password" name="password" required/> <br />
                <input type="submit" name="signup" value="sign up"/>
                <input type="hidden" name="operation" value="create"/>
            </form>

            <div>
                Already have an account? <a href="/accounts/login/"><b>Log In</b></a>
              </div>
        </div>

    </body>
</html>